<div class="filter-container">
  <!-- <span>Filter: </span> -->
  
  <div class="filter-inner"> 
    <label>
    <input type="radio" name="filter" value="All" 
    [(ngModel)]="selectedInputValue"
    (change)="onChangeFilterSelectedInputValue()">
    {{'All Heroes( '+all+' )'}}</label>
  </div>

  <div class="filter-inner"> 
    <label>
      <input type="radio" name="filter" value="str" 
        [(ngModel)]="selectedInputValue"
        (change)="onChangeFilterSelectedInputValue()">
      {{'Strength Heroes( '+str+' )'}}
    </label>
  </div>
  
  <div class="filter-inner">
    <label>
      <input type="radio" name="filter" value="agi" 
      [(ngModel)]="selectedInputValue"
      (change)="onChangeFilterSelectedInputValue()">
      {{'Agility Heroes( '+agi+' )'}}
    </label>
  </div>

  <div class="filter-inner">
    <label>
      <input type="radio" name="filter" value="int" 
      [(ngModel)]="selectedInputValue"
      (change)="onChangeFilterSelectedInputValue()">
      {{'Intelligent Heroes( '+int+' )'}}
    </label>
  </div>
</div>