<div class="hero-page" *ngIf="hero">

  <div class="center">
    <img src="https://api.opendota.com{{hero.img}}" alt="hero img">
    <h2>{{hero.localized_name | uppercase}}</h2>
    <div class="roles">{{hero.roles.join(' | ')}}</div>
  </div>
<div class="stats">
  <div class="stats-box">
    <div class="attr-name">
      <img class="attr-icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_strength.png" alt="" srcset="">
      <h3>Strength</h3>
      <ng-template [ngIf]="hero.primary_attr === 'str'">
        <span class="primary-attr" [ngStyle]="{'color': 'rgb(224, 57, 6)'}">Primary</span>
      </ng-template>
      </div>
    <ng-template [ngIf]="hero.primary_attr === 'str'">
      <div class="stat-info">
        <div class="stat-info-name">Damage</div>
        <div class="stat-info-value">{{hero.base_str}}</div>
      </div>
    </ng-template>
    <div class="stat-info">
      <div class="stat-info-name">Health</div>
      <div class="stat-info-value">{{getBaseHealth()}}</div>
    </div>
    <div class="stat-info">
      <div class="stat-info-name">Health Regen</div>
      <div class="stat-info-value">{{getHealthRegen()}}</div>
    </div>
  </div>


  <div class="stats-box">
    <div class="attr-name">
      <img class="attr-icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_agility.png" alt="" srcset="">
      <h3>Agility</h3>
      <ng-template [ngIf]="hero.primary_attr === 'agi'">
        <span class="primary-attr" [ngStyle]="{'color': 'rgb(36, 224, 46)'}">Primary</span>
      </ng-template>
    </div>
    <ng-template [ngIf]="hero.primary_attr === 'agi'">
      <div class="stat-info">
        <div class="stat-info-name">Damage</div>
        <div class="stat-info-value">{{hero.base_agi}}</div>
      </div>
    </ng-template>
    <div class="stat-info">
      <div class="stat-info-name">Armor</div>
      <div class="stat-info-value">{{getArmor()}}</div>
    </div>
    <div class="stat-info">
      <div class="stat-info-name">Attack speed</div>
      <div class="stat-info-value">{{getAttackSpeed()}}</div>
    </div>
  </div>

  <div class="stats-box">
    <div class="attr-name">
      <img class="attr-icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_intelligence.png" alt="" srcset="">
      <h3>Intelligence</h3>
      <ng-template [ngIf]="hero.primary_attr === 'int'">
        <span class="primary-attr" [ngStyle]="{'color': 'rgb(0, 161, 219)'}">Primary</span>
      </ng-template>
    </div>
    <ng-template [ngIf]="hero.primary_attr === 'int'">
      <div class="stat-info">
        <div class="stat-info-name">Damage</div>
        <div class="stat-info-value">{{hero.base_int}}</div>
      </div>
    </ng-template>
    <div class="stat-info">
      <div class="stat-info-name">Mana</div>
      <div class="stat-info-value">{{getMaxManaPool()}}</div>
    </div>
    <div class="stat-info">
      <div class="stat-info-name">Mana Regen</div>
      <div class="stat-info-value">{{getManaRegen()}}</div>
    </div>
  </div>

  <div class="stats-box">
    <div class="attr-name">
      <img class="attr-icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_damage.png" alt="" srcset="">
      <h3>Attack</h3>
    </div>
    <div class="stat-info">
      <div class="stat-info-name">Damage</div>
      <div class="stat-info-value">{{hero.base_attack_min}} - {{hero.base_attack_max}}</div>
    </div>
    <div class="stat-info">
      <div class="stat-info-name">Attack Range</div>
      <div class="stat-info-value">{{hero.attack_range}}</div>
    </div>
  </div>

  <div class="stats-box">
    <div class="attr-name">
      <img class="attr-icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_armor.png" alt="" srcset="">
      <h3>Defense</h3>
    </div>
    <div class="stat-info">
      <div class="stat-info-name">Armor</div>
      <div class="stat-info-value">{{getArmor()}}</div>
    </div>
    <div class="stat-info">
      <div class="stat-info-name">Physical Resistance</div>
      <div class="stat-info-value">{{getPsysicalResistance()}}</div>
    </div>
    <div class="stat-info">
      <div class="stat-info-name">Magical Resistance</div>
      <div class="stat-info-value">25%</div>
    </div>
  </div>

  <div class="stats-box">
    <div class="attr-name">
      <img class="attr-icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_movement_speed.png" alt="" srcset="">
      <h3>Mobility</h3>
    </div>
    <div class="stat-info">
      <div class="stat-info-name">Move Speed</div>
      <div class="stat-info-value">{{hero.move_speed}}</div>
    </div>
    <div class="stat-info">
      <div class="stat-info-name">Turn rate</div>
      <div class="stat-info-value">{{getTurnRate()}}</div>
    </div>
    <div class="stat-info">
      <div class="stat-info-name">Vision Range</div>
      <div class="stat-info-value">{{hero.day_vision}}/{{hero.night_vision}}</div>
    </div>
  </div>

  <a routerLink="../.." class="back-button">Go Back</a>

</div>
</div>