<!-- <div class="heroes">
  <div class="hero" *ngFor="let hero of heroes">
    <img
      src="https://api.opendota.com{{ hero.img }}"
      alt="{{ hero.localized_name }}"
      width="64"
      height="36"
    />
    <span class="name">{{ hero.localized_name }}</span>
  </div>
</div> -->

<!-- <img
  src="https://api.opendota.com/apps/dota2/images/dota_react/heroes/antimage.png?"
  alt=""
/> -->
<!-- <h1>WELCOME TO THE OPEN DOTA API</h1> -->
<div class="allHeroPool">
  <a href="#" class="allHeroPoolContainer" *ngFor="let hero of heroes">
    <span class="heroName">{{ hero.localized_name }}</span>
    <div class="heroBackground"
      [ngStyle]="{'background-image': 
      'url(https://api.opendota.com' +  hero.img + ' )'}"
    ></div>
  </a>
</div>
