<h1>OPEN DOTA API - DOTA 2 HEROES DISPLAYED</h1>

<app-search (searchQuery)="onSearchTextEntered($event)"></app-search>
<app-filter 
  [all]="getTotalHeroCount()" 
  [str]="getStrHeroCount()" 
  [agi]="getAgiHeroCount()" 
  [int]="getIntHeroCount()"
  (filterSelectedInputValue)="onChangeFilterSelectedInputValue($event)">
</app-filter>
<router-outlet></router-outlet>
<br>

<div class="allHeroPool">
  <ng-container *ngFor="let hero of heroes">
      <ng-container *ngIf="heroCountRadioButton === 'All' || heroCountRadioButton === hero.primary_attr">
      <a routerLink="/hero/{{hero.id}}"
      class="allHeroPoolContainer" 
      *ngIf="searchText === '' || hero.localized_name.toLowerCase().includes(searchText)"
      (click)="displayHeroDetail(hero)">
          <span class="heroName">{{ hero.localized_name }}</span>
          <div class="heroBackground"
            [ngStyle]="{'background-image': 
            'url(https://api.opendota.com' +  hero.img + ' )'}"
          ></div>
      </a>
    </ng-container>
  </ng-container>
</div>

<!-- <div *ngIf="selectedHero">
  <h2>{{ selectedHero.localized_name }}</h2>
  <p>{{ selectedHero.primary_attr}}</p>
</div> -->

